.DS_Store
.env
.env.bak
.env.test
neo4j/
searxng/settings.yml
searxng/uwsgi*
shared/
supabase/
dify/
volumes/
docker-compose.override.yml
docker-compose.n8n-workers.yml
welcome/data.json

# Custom TLS certificates
certs/*
!certs/.gitkeep

# Custom Caddy addons (user configurations)
caddy-addon/*.conf
!caddy-addon/*.example
hosts.txt
welcome/data.json
